*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}

.main-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
}

h2{
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h3{
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h4{
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.main-app h2 img{
    width:30px;
    margin-left: 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color:#fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin: 10px;
}

.result-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 10px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
}

#red{
    color: #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#green{
    color: #59ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#score{
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#normal{
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.updaterow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 10px;
}

.registerRow{
    display: block;
}

.registerRow input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
    font-weight: 14px;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}